html,body{ font-family: arial,Microsoft YaHei;}
html,body,div,ul,li{ margin: 0; padding: 0;}
/*索引箭头*/
.arrow{ display: block; width: 48px; overflow: hidden;}
.arrow span{ display: block; width: 48px; height: 48px; overflow: hidden; background: url("../images/bwn.png") no-repeat center center; text-indent: -999em;}
/*header*/
/*navBox*/
.header{ position: relative; width: 100%; min-height: 500px; background: url("../images/banner.jpg") 50% 20%; background-size: cover; overflow: hidden;}
.header .nav_box{ width: 100%; background: rgba(0,0,0,0.3); height: 60px; }
.nav_box .navbar-default{ background: none; border: none;}
.navbar-default .navbar-toggle{ padding: 6px; margin: 16px 15px 16px 0;}
.navbar-toggle .icon-bar{ width: 18px;}
.navbar-default .navbar-nav > li > a{ color: #c5ab96;}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{ color: #888;}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus { background: none;}
.navbar-default .navbar-collapse{ border: none;}
.header .nav_box a{ display: block; float: left; height: 30px; line-height: 30px; color:#c5ab96; font-size: 16px; text-decoration: none; }
.header .nav_box .logo{ display: block; height: 24px; width: 92px; background: url(../images/logo.png) no-repeat; margin: 18px 0; text-indent: -999em;}
.header .nav_box .nav{ float: right; margin-top: 15px; overflow: hidden;}
.header .nav_box .nav li{ margin-left: 20px; padding: 0}
.header .nav_box .nav a{ padding: 0 10px;}
.header .arrow{ position: absolute; bottom: 30px; left: 50%; margin-left: -24px;}
/*banner*/
.header .banner{ width: 100%; position: absolute; top: 40%;}
.banner .banner_title{ width: 100%;}
.banner_title h2{ display: block; float: right; color: #cfcfcf; font-size: 24px; margin-right: 15px;}
.banner_title h2 span{ color: #C18F5C; font-size: 16px;}
/*main*/
.main .content{ overflow: hidden;}
.main h2{ display: block; color: #5F3722; font-size: 32px; text-align: center;}

/*about*/
.about{ color: #362016; text-align: center; background: #f5ece5; padding: 60px 0 80px;}
.about .about_title{ padding-bottom: 30px;  overflow: hidden;}
.about .about_title{ padding-bottom: 30px;  overflow: hidden;}
.about .about_con{ padding-top: 30px; overflow: hidden;}
.about_con h4{ font-size: 18px; line-height: 48px;}
.about_con p{ line-height: 24px; font-size: 14px; color: #C18F5C;}
/*skill*/
.skill{ background: #140801; position: relative; padding: 60px 0 0;}
.skill h2{ color: #EFCAAF; }
.skill li{ display: inline-block; margin: 1em 2em;}
.skill .skill_list{ padding: 3em 0; text-align: center;}

.skill .skill_con h3{ color:#EFCAAF; font-size:1.8em; margin: 2em 0;}
.skill .skill_con .circle{ color: #482B1D;}
.skill #canvas{ position: relative;}
/*works*/
.works{  padding: 60px 0 30px; background: #f8f8f8; text-align: center;}
.works .container{ width: 100%;}
.works .work_list{ padding-top: 2em;}
.work_list li{ display: inline-block; padding: 5px 5px 0; margin-bottom: 30px;}
.work_list li a{ display: block; position: relative;}
.work_list li a span{ position: absolute; bottom: 0; left: 0; width: 100%; height: 48px; display: none; background: rgba(0,0,0,0.25); color: #fff; text-align: center; line-height: 48px; font-size: 20px;}
.work_list li img{ width: 100%;}
.work_list li p{ margin: 3em 1em 0 1em; line-height: 24px; color: #504a4c; font-size: 14px;}
.work_list li:hover a span{ display: block;}
/*CONTACT*/
.contact{ padding: 60px 0 30px; background: #000;  color: #C6C3C5;}
.contact h2{ color:#c9c9c9; }
.contact .contact_list{ width: 100%;  margin: 30px auto 0; overflow: hidden;}
.contact_list li{ padding: 10px 0; overflow: hidden;}
.contact_list li i{ display: block; float: left; width: 15px; height: 11px; margin: 5px; background: url("../images/contact.png") center center no-repeat; overflow: hidden;}
.contact_list li a{ color: #e1e1e1; height: 20px; line-height: 20px; text-decoration: none;}
.contact_list li.email{ float: left; text-align: right; width: 50%;}
.contact_list li.phone{ float: right; width: 45%; margin-left: 5%;}
.contact_list .email i{ background-position: 0 0;}
.contact_list .phone i{ background-position: 0 -12px;}
.contact_list .email a{ float: right;}
.contact_list .email i{ float: right;}
.contact .arrow{ margin: 50px auto 0;}
.contact .arrow span{ -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg);}
/*公用*/
.inside{ width: 1200px; min-width: 1200px; margin: 0 auto;}

