@charset "utf-8";
body{ background: #f4f4f4;}
/************头部状态条*********************头部状态条***************************头部状态条***********************/
.topbar{ background: #f9f9f9; height: 30px; line-height: 30px;color: #999;}
.topbar .inside{ background: #f9f9f9;}
.topbar a{ display: inline-block; color: #999;background: url("../images/common/topbarbg.png") no-repeat; }
.topbar a:hover{ color: #666;}
.topbar .bar_r{ position: absolute; top:0; right: 0;  }
.topbar .bar_r span a{ background: none;}
.topbar .bar_r .btn2{ background: none; display: inline-block; margin: 0 5px; color: #7ae;}
.topbar .weixin{ padding-right: 30px;background-position:48px -30px; position: relative;}
.topbar .weixin:hover{background-position: 48px 0px;}
.topbar .weixin .boxinfo{ font-size: 16px; color: #666;}
.topbar .weixin:hover .r_box_b{display: block;}
.topbar .app{ padding-right: 30px; margin-left: 5px;background-position:60px -90px;}
.topbar .app:hover{background-position: 60px -60px;}
.topbar .message{ padding-left: 30px; margin-left: 15px; background-position: 0 -150px; -webkit-transition: background-position
ease-out 0.2s;}
.topbar .message:hover{ background-position: 0 -120px;}
.topbar .logout{padding-left: 30px; background-position: 0 -210px;-webkit-transition: background-position ease-out 0.2s;}
.topbar .logout:hover{background-position: 0 -180px;}

/************头部导航*********************头部导航***************************头部导航***********************/
.header{ background: #fff;}
.header .inside{ background: #fff;}
.header .logo{ display: inline-block; height: 45px; width:160px; margin: 13px 0; text-indent: -99em;  background: url("../images/common/logo.png") no-repeat top left;}
.header .logo_ta{ background-position:15px -45px; margin-left: 15px; border-left: solid 1px #eee; padding-left: 15px; }
.header .logo_gy{ background-position:15px -90px; margin-left: 15px; border-left: solid 1px #eee; padding-left: 15px; width: 194px; }
.header .nav{ position: absolute; top:0; right: 0; }
.header .nav li{ display: inline-block;}
.header .nav li a{ display: inline-block; padding: 24px 0 23px 40px; width: 72px; text-align: center; font-size: 16px; color: #666; }
.header .nav li a:hover,.header .nav .cur a{ color: #e54; }
.header .nav li.nav_pro{ position: relative; padding-right:20px; text-align: left; background: url("../images/common/nav_bg.png") no-repeat 115px 30px; cursor: pointer;}
.header .nav li.nav_pro:hover{ background-position:115px -21px; color: #f90;}
.header .nav .nav_pro:hover .r_box_b{ display: block; top: 55px; left: 35px;}
.header .nav .nav_pro .r_box_b .spider{left:50px;}
.header .nav_pro .boxinfo{ width: 90px;}
.header .nav_pro .boxinfo a{ display: block; padding:3px 0; text-align: center; width: auto; font-size: 16px;}
.header .nav .hasicon{ position:relative;}
.header .nav .hasicon i{ background: url("../images/common/nav_icon.png") no-repeat; width: 18px; height: 18px; display: inline-block; position: absolute; left:24px; top: 26px; }
.header .nav .nav_icon2 i{ background-position: 0 -36px; }
.header .nav .nav_icon1:hover i,.header .nav .cur .nav_icon1 i{ background-position: 0 -18px; }
.header .nav .nav_icon2:hover i,.header .nav .cur .nav_icon2 i{ background-position: 0 -54px; }


/************底部脚注*********************底部脚注***************************底部脚注***********************/
.footer,.footer .f_guide,.footer .f_link{background: #f9f9f9;}
.footer .f_guide{ overflow: hidden; padding: 36px 0; border-bottom:solid 1px #eee; }
.footer .f_guide li{ float: left; width: 180px; height: 55px; font-size: 16px; color: #999; padding-left: 60px; background:url("../images/common/f_guide.png") no-repeat; }
.footer .f_guide li h4{ font-size: 20px; color: #333;}
.footer .f_guide li.fg1{ width: 170px;}
.footer .f_guide li.fg2{ background-position: 0 -55px; width: 210px;}
.footer .f_guide li.fg3{ background-position: 0 -110px; width: 160px;}
.footer .f_guide li.fg4{ background-position: 0 -165px; width: 210px;}
.footer .f_guide li.fg5{ background-position: 0 -220px; width: 150px}
.footer .f_link{ padding: 30px 0 20px; }
.footer .f_link h4{ font-size: 20px; font-weight: normal; float: left; line-height: 33px;}
.footer .f_link a{ display: inline-block; margin-left: 40px; width: 104px; height: 33px; background: url("../images/common/f_link.png")}
.footer .f_link a.link0{ background-position: 0 -200px; width: 110px;}
.footer .f_link a.link2{ background-position: 0 -33px; width: 100px;}
.footer .f_link a.link3{ background-position: 0 -66px; width: 167px;}
.footer .f_link a.link4{ background-position: 0 -99px; width: 103px;}
.footer .f_link a.link5{ background-position: 0 -132px; width: 110px;}
.footer .f_link a.link6{ background-position: 0 -165px; width: 112px;}
.footer .f_map{ background: #666; }
.footer .f_map .inside{ background: #666; padding: 30px 0 15px; overflow: hidden;border-bottom: solid 1px #555;}
.footer .f_map .maplink{ float: left; width: 200px;}
.footer .f_map a{ color: #aaa; font-size: 14px; line-height: 30px; display: block;}
.footer .f_map a:hover{ text-decoration: underline;}
.footer .f_map em{ color: #ccc; font-size: 14px; line-height: 30px;}
.footer .f_map .service{ float: left; width: 300px;}
.footer .f_map .service .callnum{ font-size: 32px; display: block;  line-height: 45px;}
.footer .f_map .service p{  color: #aaa; font-size: 14px;}
.footer .f_map .ewm{  float: left; width: 120px; height: 150px; padding-left: 30px; background: url("../images/common/ewm1.png") no-repeat 30px 30px; }
.footer .f_map .ewm em{ display: block;}
.footer .copyright{ background: #666; color: #aaa;}
.footer .copyright p{ width: 1200px; margin: 0 auto;line-height: 30px; background: #666;padding: 10px 0; text-align: center;border-top: solid 1px #777; }
.footer .copyright a{ display: inline-block; width: 30px; height: 30px; margin:0 6px -12px 6px; background: url("../images/common/cr_link.png") }
.footer .copyright span{  display: inline-block; margin-right:20px;}
.footer .copyright a:hover{ background-position:0 -30px }
.footer .copyright a.c_link2{ background-position:-38px 0;width: 32px; }
.footer .copyright a.c_link2:hover{ background-position:-38px -30px; }
.footer .copyright a.c_link3{ background-position:-80px 0;width:78px; }
.footer .copyright a.c_link3:hover{ background-position:-80px -30px; }


/******************公用部分*****************公用部分***********************公用部分*************************/
.inside{ width: 1200px; margin: 0 auto; position: relative; }
.txt_red{ color: #f00;}
.txt_green{ color: #480;}
.tblue{ color: #7ae}
.c999{ color: #999}
.fs12{ font-size: 12px;}
/*圆角提示框*/
.r_box_b{ position: absolute; top:30px; left: -65px; display: none; z-index: 9;}
.r_box_b .boxinfo{ border: solid 1px #eee; border-radius: 5px; padding: 10px; width: 194px; text-align: center; background: #fff;}
.r_box_b .spider{ position: absolute; top:-4px; left: 105px; width: 5px; height: 5px; }
.r_box_b .spider i{ display: block; background: #fff; position: absolute; border-left: solid 1px #eee; border-right: solid 1px #eee; height: 1px;}
.r_box_b .spider .i1{ width: 9px; bottom: 0; }
.r_box_b .spider .i2{ width: 7px; bottom: 1px; left: 1px; }
.r_box_b .spider .i3{ width: 5px; bottom: 2px; left: 2px;}
.r_box_b .spider .i4{ width: 3px; bottom: 3px; left: 3px; }
.r_box_b .spider .i5{ width: 1px; bottom: 4px; left: 4px; }
.r_box_b .spider .i6{ width: 1px; bottom: 5px; left: 5px; border:none; background: #eee; }

/*按钮样式*/
.btn1,.btn11{ display: inline-block; background: #e54; border-radius: 5px; color: #fff; text-align: center; padding: 8px 15px; font-size: 16px; font-weight: bold; }
.btn1:hover{ background: #d54; }
.btn11{ background: #a9a9a9; }
.btn11:hover{ background: #bbb; }
.btn2{ color: #7ae; }
.btn2:hover{ text-decoration: underline; }
.btn3{ color: #666;}
.btn3:hover{ color: #e54;}
.ml_btn{ margin-left: 120px; }

/*面包屑*/
.crumb{ color: #999;}
.crumb a{ display: inline-block; color: #999; margin: 8px 0; font-size: 14px; }
.crumb a:hover{ color: #666;  }

/*分页*/
.page_m{ text-align: center; margin-top: 20px;}
.page_m a{ display: inline-block; padding: 3px 12px; background: #f8f8f8; border: solid 1px #eee; margin-left:-5px; color: #333;}
.page_m a:hover,.page_m a.hover{ background: #e54; border-color: #e54; color: #fff;}
.page_m input{ display: inline-block; width: 50px; height: 27px; margin-left: 20px; border: solid 1px #eee; padding: 0 5px;}

/*弹窗*/
.mask{ position: absolute; width: 100%; height: 100%; background: #000; opacity:0.5; z-index: 100; }
.popbox{width: 650px; position: absolute; left: 50%; top:50%; margin-left: -325px; margin-top: -150px; z-index:101; border: solid 1px #eee; border-radius: 3px; }
.popbox h3{ background: #f6f6f6; font-size: 18px; padding: 10px; text-align: center; border-bottom: solid 1px #eee; position: relative; }
.popbox h3 .close{ display: block; width: 30px; height: 30px; background: url("../images/common/close_icon.png"); position: absolute; right: 8px; top:8px; }
.popbox h3 .close:hover{ background-position: center bottom; }
.popbox .popinfo{ background: #fff; padding: 50px 20px; text-align: center; width: 610px; }
.popbox .popinfo dd{ text-align: left;}
.popbox .popinfo .warn{ display: inline-block; padding-left: 40px; background: url("../images/common/warn_icon.png") no-repeat; line-height: 29px;font-size: 14px; color: #666; }
.popbox .popinfo h4.warn{ line-height: 29px;font-size: 18px; color: #333; margin-bottom: 20px; }
.popbox .popinfo .hint{ width: 280px; margin: 0 auto; text-align: left; font-size: 14px; color: #999; }
.popbox .btnbox{ margin-top: 30px; }
.popbox .btnboxl{ text-align: left;}
.popbox .btnbox a{ width: 100px; margin: 0 10px; }

th{ color: #666;}
