/*头部*/
.admin_top{ height: 45px; background-color: #2a2c2e; padding: 10px; font:20px/45px "microsoft yahei"; color: #fff;}
.admin_top .fl span{ font-size: 16px;}
.admin_top .head_text{ display: block; }
/*主页*/
/*操作导航*/
.operation{ padding: 0 10px; height: 40px; line-height: 40px; background: #e1e0e0; overflow: hidden;}
.operation .link span{ padding: 0 10px;}
.operation .link a{ font-family: "microsoft yahei"; color: #000;}
/*操作界面*/
.content{ overflow: hidden; font-family: "microsoft yahei"; background: #ccc;}
.content .title{ display: block; height: 40px; font-size: 16px; line-height: 40px; background: #ccc; overflow: hidden;}
/*左侧菜单*/
.menu{ width: 200px; height: 100%; background: #505254; padding-bottom: 999999em; margin-bottom: -999999em;}
.menu .menu_list{ padding: 20px 10px; color: #fff; font-size: 14px; line-height: 24px;}
.menu_list h3{  padding-left: 15px; font-weight: normal; cursor: default;}
.menu_list a{ display: block; color: #fff; font-size: 12px; text-decoration: none;}
.menu_list a:hover{ color: #aaa;}
.menu_list span{ display: inline-block; width: 10px; margin-right: 8px;}
.menu_list dl{text-indent: 3em;}
.menu_list a{ display: block; color: #fff; font-size: 12px;}
/*右侧主体内容*/
.main{ width: 800px; overflow: hidden; background: #fff; padding-bottom: 999999em; margin-bottom: -999999em;}
/*具体内容*/
.details{ padding: 15px; overflow: hidden; font-size: 14px;}
/*具体操作列*/
.details_operation{ margin-bottom: 20px; height: 30px;}
.details_operation .add{ display: block; height: 30px; width: 96px; border: none; background: #e8e8e8; font-family: "microsoft yahei";}
.details_operation .text{ float: left; margin-left: 30px; line-height: 30px;}
.details_operation .text span{ display: block; float: left; margin-right: 10px;}
.details_operation .text .select_box{ float: left; height: 30px; background: #e8e8e8;}
.details_operation .text select{ height: 22px; margin: 4px 8px; font-family: "microsoft yahei"; border: none;}
.details_operation .text .search{ width: 140px; height: 30px;  background: #e8e8e8; padding: 0 8px; border: none;}
/*内容表*/
.details table{ border-collapse: collapse; width: 100%;}
.details .table th,.details .table td{ border: 1px solid #ccc; padding: 8px;}
.details .table th{ background: #e8e8e8;}
.details .table td{text-align: center;}
.table .label,table .check{ vertical-align: middle;}
.table .btn{ padding: 4px 16px; background: #e8e8e8; margin: 0 10px; font-family: "microsoft yahei"; border: none;}
.table .btn:hover{ background: #ccc;}
.details .noteNum{ display: block; width: 100%; height: 24px; text-align: center; line-height: 24px; position: fixed; bottom: 0; left: 0;}
.details .noteNum em{ color: #7ae; font-size: 16px;}

/*loginBox*/
.loginBox{ margin: 80px auto; padding: 50px; width: 498px; border: 1px solid #e1e1e1;  background: #fff; overflow: hidden;}
/*login_cont*/
.loginBox .login_cont{ width: 450px; margin: 0 auto;}
.loginBox .login{ display: block; overflow: hidden; font-size: 14px; color: #333;}
.loginBox .login a{ text-decoration: none;}
.loginBox .login .int{ margin-top: 10px; line-height: 43px; position: relative; overflow: hidden;}
.loginBox .int p{ display: none; position: absolute; top: 0; left: 90px; padding-left: 20px; height: 20px; line-height: 20px; color: #999; font-size: 12px;}
/*.loginBox .int p .warn{ display: inline-block; width: 14px; height: 14px;  background: url("../images/warn.jpg") no-repeat center center; position: absolute; top: 3px; left: 0; }*/
.loginBox .login span{ display: inline-block; float: left; width: 70px; text-align: right; margin-right: 20px;}
.loginBox .login .inputTxt{ display:inline-block;  float: left; padding-left: 15px; width: 255px; height: 41px; line-height: 41px;  border: 1px solid #e1e1e1; border-radius: 4px; color: #a9a9a9; outline: none;}
.loginBox .login .submit{ display: block; margin: 20px 0 20px 92px; width: 274px; height: 48px; border: 1px solid #e1e1e1; outline: none; border-radius: 5px; font-size: 18px; line-height: 48px; text-align: center; color: #fff; background: #ea544a;}
/*会员详细信息*/
.user_detail{ width: 640px; padding: 0 80px;font-family: "microsoft yahei";}
.user_detail h2{ font-size: 20px; font-weight: normal; text-align: center; line-height: 48px;}
.user_detail ul{ width: 360px; margin-top: 30px; overflow: hidden;}
.user_detail li{ font-size: 16px; color: #333; line-height: 24px;}
.user_detail li span{ display: inline-block; width: 100px; text-align: right; font-size: 14px; color: #999;}
.user_detail .pic{ width: 200px; margin-top: 30px; border: 1px solid #a6c1d9; overflow: hidden;}
.user_detail .pic img{ display: block; margin: 0 auto;}


/*公用*/
.inside{ width: 1000px; min-width: 1000px; margin: 0 auto; overflow: hidden;}
.fl{float: left;}
.fr{float: right;}
.hide{ display: none;}

















