/*头部*/
.user_top{ width: 100%; min-width: 1200px; height: 45px; background-color: #2a2c2e; padding: 10px; color: #fff; line-height: 45px; font-family: "microsoft yahei";}
.user_top .fl span{ font-size: 16px;}

/*主页*/
/*操作导航*/
.operation{ width: 100%; min-width: 1200px; padding: 0 10px; height: 40px; line-height: 40px; background: #e1e0e0; overflow: hidden;}
.operation .link span{ padding: 0 10px;}
.operation .link a{ font-family: "microsoft yahei"; color: #000;}
/*操作界面*/
.oper_con{ position: relative; width: 100%; min-width: 1200px;  padding: 0 10px; overflow: hidden; font-family: "microsoft yahei"; background: #ccc;}
.oper_con .title{ display: block; height: 40px; font-size: 16px; line-height: 40px; background: #ccc; overflow: hidden;}
/*左侧菜单*/
.menu{ position: absolute; left: 0; top: 0; width: 200px; height: 100%; background: #505254; padding-bottom: 999999em; margin-bottom: -999999em;}
.menu .menu_list{ padding: 20px 10px; color: #fff; font-size: 14px; line-height: 24px;}
.menu_list h3{  padding-left: 15px; font-weight: normal; cursor: default;}
.menu_list a{ display: block; color: #fff; font-size: 12px; text-decoration: none;}
.menu_list a:hover{ color: #aaa;}
.menu_list h3 a{ display: block; margin-left: 18px; font-size: 14px;}
.menu_list h3 span{ display: inline-block; width: 10px; margin-right: 8px;}
.menu_list dl{text-indent: 3em;}

/*右侧主体内容*/
.main{ width: 1000px; overflow: hidden; background: #fff; padding-bottom: 999999em; margin-bottom: -999999em; margin-left: 200px;}
/*具体内容*/
.details{ padding: 15px; overflow: hidden; font-size: 14px;}
/*具体操作列*/
.details_operation{ margin-bottom: 20px; height: 30px;}
.details_operation .add{ display: block; height: 30px; width: 96px; border: none; background: #e8e8e8; font-family: "microsoft yahei";}
.details_operation .text{ float: left; margin-left: 30px; line-height: 30px;}
.details_operation .text span{ display: block; float: left; margin-right: 10px;}
.details_operation .text .select_box{ float: left; height: 30px; background: #e8e8e8;}
.details_operation .text select{ height: 22px; margin: 4px 8px; font-family: "microsoft yahei"; border: none;}
.details_operation .text .search{ width: 140px; height: 30px;  background: #e8e8e8; padding: 0 8px; border: none;}
/*内容表*/
.details table{ border-collapse: collapse; width: 100%;}
.details .table th,.details .table td{ border: 1px solid #ccc; padding: 8px;}
.details .table th{ background: #e8e8e8;}
.table .label,table .check{ vertical-align: middle;}
.table .btn{ padding: 4px 16px; background: #e8e8e8; margin: 0 10px; font-family: "microsoft yahei"; border: none;}
.table .btn:hover{ background: #ccc;}

/*公用*/
.inside{ width: 1200px; margin: 0 auto; position: relative;}
.hide{display:none;}
.fl{ float: left;}
.fr{ float: right;}