body,div,canvas{ margin: 0; padding: 0; outline: 0;}
.all_bg{  margin: 0 auto;}
.allcanvas{ position: relative; margin: 0 auto;}
#canvas1{ position: absolute; left: 0; bottom: 0; z-index: 1;}
#canvas2{ position: absolute; left: 0; bottom: 0; z-index: 0;}




